<footer class="text-white mt-2">
                <div class="row section p-4">
                    <div class="col-12 col-sm-5">
                        <img class="pb-4 image-logo" src="../images/footer-logo.png">
                        <p>We are a technology team focused on adding value quickly and supporting continual improvement.</p>
                        <i class="fa fa-instagram h2 mr-3 mt-2 cursor-pointer"></i>
                        <i class="fa fa-linkedin h2 mr-3 mt-2 cursor-pointer"></i>
                        <i class="fa fa-facebook h2 mr-3 mt-2 cursor-pointer"></i>
                        <i class="fa fa-twitter h2 mt-2 cursor-pointer"></i>
                    </div>
                    <div class="col-12 col-sm-3 mt-2 mt-sm-0">
                        <p class="pb-3 font-weight-bold h2">Contact US</p>
                        <label class="d-block">Canada</label>
                        <label class="d-block">+91-6361334223</label>
                        <label class="d-block">info@roku.com</label>
                    </div>
                    <div class="col-12 col-sm-3 mt-2 mt-sm-0">
                        <p class="pb-3 font-weight-bold h2">Get To Know US</p>
                        <label class="d-block cursor-pointer">About</label>
                        <label class="d-block cursor-pointer">FAQs</label>
                    </div>
                </div>
                <div class="row text-center p-2 copyright">
                    <p class="col-12">© Roku Flashback 2020</p>
                </div>
            </footer>