<header class="text-white">
    <nav class="row p-4">
        <img class="col-lg-3 col-9 image-logo" src="../images/logo.png">
        <div class="col-lg-6 col-sm-12 order-2 order-lg-1 mt-2">
            <form class="form-inline my-2 my-lg-0 w-100">
                <span class="dropdown-toggle">All</span>
                <input class="form-control w-75 search" type="search" placeholder="Search Any Movie, TV, Music">
                <button class="btn btn-outline-success search-button" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="col-12 col-lg-1 order-3 order-lg-2 cursor-pointer p-lg-0 mt-3">
            <i class="fa fa-globe h5"></i>
            <span class="dropdown-toggle font-weight-bold"> English</span>
        </div>
        <div class="col-lg-2 col-3 order-1 order-lg-3 cursor-pointer float-sm-right mt-1">
            <img class="rounded-circle image-profile" src="../images/profile.png">
            <span class="dropdown-toggle"></span>
        </div>
    </nav>
    <div class="d-block clearfix w-75 mx-auto mb-3">
        <div class="float-left">
            <img class="rounded-circle" src="../images/parents.png" style="width:60px">
            <span class="text-info h5">Profile:</span><label class="text-white h5"> Parents </label>
        </div>
        <div class="float-right mt-3">
            <a href="#" class="text-success text-decoration-underline align-text-bottom">Switch to kids profile</a>
        </div>
    </div>
</header>