nav form span{
  background-color: #d7d7d7;
  padding: 8px;
  color: #9a919e;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

nav .search{
  border-radius: 0;
  padding: 20px;
  outline: none;
  border: none;
}

nav .search-button{
  border-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

nav .fa-search{
  color: #fff;
  font-size: 22px;
  padding: 2px;
}